<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<nav class="nav-bar">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/shopping}">Shopping</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li><a th:href="@{/admin}">Admin</a></li>
        <li><form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form></li>
        <li class="nav-user">
            <span class="username-circle" th:text="${#authentication.name}"></span>
        </li>
    </ul>
</nav>
<div class="container-book-table">
    <h1>Edit Shopping List</h1>

    <div class="actions-search-field">
        <input type="text" id="searchField" placeholder="Search by book name, author or category" style="width: 50%;" />
        <button id="searchButton">Search</button>
        <button id="addBookButton" onclick="window.location.href='/addBook'">Add new Book</button>
    </div>

    <table class="book-table">
        <thead>
        <tr>
            <th>Book</th>
            <th>Title</th>
            <th>Book's details</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><img th:src="@{${book.imageUrl}}" alt="Book Image" class="book-image"/></td>
            <td th:text="${book.title}"></td>
            <td>
                <a th:href="@{/bookDetails/{id}(id=${book.id})}">more details</a>
            </td>
            <td th:text="${book.price}"></td>
            <td>
                <button class="btn btn-primary" th:onclick="'Edit(' + ${book.id} + ')'">Edit book</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="validationMessages">
        <p th:if="${priceValidationMessage}" th:text="${priceValidationMessage}" class="priceValidationMessage"></p>
        <p th:if="${stockValidationMessage}" th:text="${stockValidationMessage}" class="stockValidationMessage"></p>
    </div>
</div>


<script th:inline="javascript">
    // Handle search button click
    document.getElementById('searchButton').addEventListener('click', function() {
        const keyword = document.getElementById('searchField').value;
        window.location.href = '/admin?keyword=' + encodeURIComponent(keyword);
    });

</script>

</body>
</html>
