<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="nav-bar">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/shopping}">Shopping</a></li>

        <!-- Conditional rendering based on user authentication -->
        <li th:if="${#authorization.expression('isAuthenticated() and !hasRole(''ADMIN'')')}">
            <a th:href="@{/cart}">Cart</a>
        </li>

        <li th:if="${#authorization.expression('isAuthenticated() and hasRole(''ADMIN'')')}">
            <a th:href="@{/admin}">Admin</a>
        </li>


        <li th:if="${#authorization.expression('!isAuthenticated()')}">
            <a th:href="@{/login}">Login</a>
        </li>

        <li th:if="${#authorization.expression('!isAuthenticated()')}">
            <a th:href="@{/register}">Register</a>
        </li>

        <!-- Logout form -->
        <li th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </li>

        <!-- Display username if authenticated -->
        <li class="nav-user" th:if="${#authorization.expression('isAuthenticated()')}">
            <span class="username-circle" th:text="${#authentication.name}"></span>
        </li>
    </ul>
</nav>
<h1>My cart</h1>

<div class="container-book-table">
    <h1>Book Store</h1>
    <table class="book-table">
        <thead>
        <tr>
            <th>Book</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}" th:id="'cart-item-' + ${cartItem.id}">
            <td><img th:src="@{${cartItem.book.imageUrl}}" alt="Book Image" class="book-image"/></td>
            <td th:text="${cartItem.book.title}"></td>
            <td th:text="${cartItem.book.price}"></td>
            <td th:text="${bookQuantities[cartItem.book.id]}"></td>
            <td>
                <button class="btn btn-danger" th:onclick="'deleteFromCart(' + ${cartItem.id} + ')'">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="final-price">
        <label>Total Price: </label>
        <span th:text="${totalPrice}"></span>
    </div>

    <div class="payment">
        <!-- Check if errorMessage exists in model -->
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
        <!-- Proceed to payment only if cart is not empty -->
        <a th:if="${not #strings.isEmpty(totalPrice)}" class="btn btn-primary" th:href="@{/order(totalPrice=${totalPrice})}">Payment</a>
    </div>

</div>

<script>
    function deleteFromCart(cartItemId) {
        fetch('/delete-from-cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': `[[${_csrf.token}]]`
            },
            body: JSON.stringify({cartItemId: cartItemId})
        })
            .then(response => {
                if (response.ok) {
                    // Item deleted successfully - update cart view here
                    console.log("Cart item deleted successfully!");
                    // Remove the specific cart item row from the table (example)
                    document.getElementById(`cart-item-${cartItemId}`).remove();
                } else {
                    console.error("Error deleting cart item:", response.statusText);
                    // Handle deletion error (e.g., display an error message)
                }
            })
            .catch(error => {
                debugger;
                console.error("Error deleting cart item:", error);
                // Handle network or other errors
            });
    }
</script>


</body>
</html>
