<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<nav class="nav-bar">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/shopping}">Shopping</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/register}">Register</a></li>
        <li class="nav-user">
            <span class="username-circle" th:text="${#authentication.name}"></span>
        </li>
    </ul>
</nav>
<div class="container">
    <h1>Welcome to the Bookstore</h1>
    <p>Explore our collection of books and find your next read.</p>
</div>
</body>
</html>
