<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Shopping</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<nav class="nav-bar">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/shopping}">Shopping</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li><a th:href="@{/admin}">Admin</a></li>
        <li><form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form></li>
        <li class="nav-user">
            <span class="username-circle" th:text="${#authentication.name}"></span>
        </li>
    </ul>
</nav>
<h1>Welcome to the Shopping Page!</h1>
<div class="container-book-table">
    <h1>Book Store</h1>
    <table class="book-table">
        <thead>
        <tr>
            <th>Book</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Add to Cart</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><img th:src="@{${book.imageUrl}}" alt="Book Image" class="book-image"/></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td>
                <button class="btn btn-primary" th:onclick="'addToCart(' + ${book.id} + ')'">Add to Cart</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:inline="javascript">
    function addToCart(bookId) {
        fetch('/add-to-cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': [[${_csrf.token}]]
            },
            body: JSON.stringify({ bookId: bookId })
        })
            .then(response => {
                if (response.ok) {
                    alert('Book added to cart successfully!');
                } else {
                    alert('Failed to add book to cart.');
                }
            })
            .catch(error => {
                console.error('Error adding book to cart:', error);
                alert('An error occurred while adding the book to the cart.');
            });
    }
</script>
</body>
</html>
